<div class="flex relative flex-wrap">
  <div class="left-column-LL4lqc6YAeilLLVARyc2">
    <h3 class="leading-tight font-bold heading-aXsoLF8p7CMXV4Pr6ZHX">{{ 0 }}</h3>
    <div>
      {{ 1_markdown | markdownify }}
    </div>
    <h3 class="leading-tight font-bold heading-KZ2olQBV6ByT0ghxYrPa">
      {{ 2 }}
    </h3>
    <div>
      {{ 3_markdown | markdownify }}
    </div>
  </div>

  <div class="right-column-PnQSQkSkEOVyWoeROHs6">
    <video autoplay="" class="video-qF8DiAhz5yMOeQvqMIiJ relative" defaultmuted="" loop="" muted="" playsinline="" title="{{ 5_title }}">
      <source src="{{ 4_url }}" type="video/mp4" />
	</video>
  </div>
</div>