<div class="left-column-uwT0P9pIyiEtxkXiVxCb">
  <div class="image-dcRsLRmb8wS6d1kojYw7">
    <picture class="">
      <source media="(min-width: 1216px)" srcset="
          https://cc-dam.imgix.net/entrepreneurial-spirit-2.svg?auto=compress&auto=format&w=1216&dpr=2 2x,
          https://cc-dam.imgix.net/entrepreneurial-spirit-2.svg?auto=compress&auto=format&w=1216&dpr=1
        " />

      <img alt="{{ 0_alt }}" class="w-full relative mx-auto max-w-[300px]" decoding="async" fetchpriority="high" src="{{ 1_url }}" width="421" height="420" />
    </picture>
  </div>
  <h2 class="font-bold leading-tight heading-gWeUBqYsDuuTJ4Yc1zmA">
    {{ 2 }}<br />
  </h2>
  <div class="mx-auto prose prose-lg prose-li:font-medium prose-li:marker:text-carbon prose-p:font-medium prose-ul:list-outside max-w-none text-block-yLrZ8Q3K8oAzxDqor15a" style="color: inherit">
    {{ 3_markdown | markdownify }}
  </div>
</div>